MessageCloud/Service References/ServiceReference1/Twitter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Twitter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/Twitter.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/Twitter.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITwitter_GetTimeline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeline" />
  </wsdl:message>
  <wsdl:message name="ITwitter_GetTimeline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimelineResponse" />
  </wsdl:message>
  <wsdl:message name="ITwitter_GetTimelineSince_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimelineSince" />
  </wsdl:message>
  <wsdl:message name="ITwitter_GetTimelineSince_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimelineSinceResponse" />
  </wsdl:message>
  <wsdl:message name="ITwitter_Favorite_InputMessage">
    <wsdl:part name="parameters" element="tns:Favorite" />
  </wsdl:message>
  <wsdl:message name="ITwitter_Favorite_OutputMessage">
    <wsdl:part name="parameters" element="tns:FavoriteResponse" />
  </wsdl:message>
  <wsdl:message name="ITwitter_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="ITwitter_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ITwitter">
    <wsdl:operation name="GetTimeline">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwitter/GetTimeline" message="tns:ITwitter_GetTimeline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwitter/GetTimelineResponse" message="tns:ITwitter_GetTimeline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimelineSince">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwitter/GetTimelineSince" message="tns:ITwitter_GetTimelineSince_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwitter/GetTimelineSinceResponse" message="tns:ITwitter_GetTimelineSince_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Favorite">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwitter/Favorite" message="tns:ITwitter_Favorite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwitter/FavoriteResponse" message="tns:ITwitter_Favorite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITwitter/GetStatus" message="tns:ITwitter_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITwitter/GetStatusResponse" message="tns:ITwitter_GetStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITwitter" type="tns:ITwitter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTimeline">
      <soap:operation soapAction="http://tempuri.org/ITwitter/GetTimeline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimelineSince">
      <soap:operation soapAction="http://tempuri.org/ITwitter/GetTimelineSince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Favorite">
      <soap:operation soapAction="http://tempuri.org/ITwitter/Favorite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/ITwitter/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Twitter">
    <wsdl:port name="BasicHttpBinding_ITwitter" binding="tns:BasicHttpBinding_ITwitter">
      <soap:address location="http://localhost:2726/Twitter.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>